{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "max-len": ["error", 200, 4],
    "react/jsx-filename-extension": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
