<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noimageindex">
        <meta id="viewport" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>Image Viewer</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700|Roboto:400,500" rel="stylesheet" />
        <script src="https://use.fontawesome.com/d4c14dc8f9.js"></script>
    </head>

    <body>
        <div id="app"></div>
    </body>
</html>
